.App {
  text-align: center;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: red;
  height: 100vh;
}
.card {
  width: 80vw;
  height: 50vh;
  position: relative;
  bottom:10vh;
}
#title {
  font-size: 4em;
  position: relative;
  bottom: 15vh;
}
#text {
  color: black;
  font-size: 1.5em;
  margin:1.5em;
}
#author {
  font-style: italic;
  color: black;
  margin-top: 2em;
}
#new-quote {
  position: absolute;
  top:55vh;
  width: 30vh;
  left:0;
  right:0;
  margin:0 auto;
}
