.App {
  text-align: center;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: red;
  height: 100vh;
}
.card {
  width: 80vw;
  height: 50vh;
  position: relative;
  bottom: 10vh;
}
#title {
  font-size: 4em;
  position: relative;
  bottom: 15vh;
}
#text {
  color: black;
  font-size: 1.5em;
  margin: 1.5em;
}
#author {
  font-style: italic;
  color: black;
}
#new-quote {
  position: absolute;
  top: 55vh;
  width: 30vh;
  left: 0;
  right: 0;
  margin: 0 auto;
}
#icon {
  color: black;
}
#tweet-quote {
  position: fixed;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 60vh;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  #title {
    font-size: 3em;
    top:.5vh;
  }
  .card {
    height: 70vh;
    top: 3vh;
    width:95vw;
  }
  #tweet-quote{
    top:75vh;
  }
  #new-quote{
    top:60vh;
  }
}
