.app {
  text-align: center;
  background-color: black;
  font-size: calc(10px + 2vmin);
  color: white;
  height: 100vh;
}
.card {
  max-width: 1068px;
  min-height: 60vh;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
#title {
  font-size: 4em;
  color: red;
}
.subtitle {
  margin: 2rem 1rem;
}
#text {
  color: black;
  font-size: 1.5em;
}
#author {
  font-style: italic;
  color: black;
}
#new-quote {
  width: 50vw;
}
#icon {
  color: black;
}
@media (max-width: 1024px) {
  #title {
    font-size: 4rem;
  }
  .subtitle {
    font-size: 2rem;
    /* width: 60vw; */
    margin: 2rem auto;
  }
  .card {
    width: 75vw;
    height: auto;
    padding: 0.5rem;
  }
}

@media (max-width: 768px) {
  #title {
    font-size: 3em;
  }
  .card {
    height: auto;
    width: 95vw;
  }
}
@media (max-width: 576px) {
  #title {
    font-size: 2.5rem;
  }
  .subtitle {
    font-size: 0.8rem;
  }
  .card {
    width: 90vw;
    height: auto;
    padding: 0.5rem;
  }
}
